
.backgroundImage{
  background-position-x: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  background-attachment: scroll
}

.allText{
  color:white;
  opacity:0.7;
  display:flex;
  flex-direction: column;
  height:100%
}

h3{
  justify-content:flex-start
}
h1{
  justify-content:flex-start
}

p{
  justify-content: end;
  height:100%;
  font-style: oblique;
}