
.backgroundImage{
  background-position-x: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  background-attachment: scroll;
  justify-content: space-between;
}

.allText{
  color:white;
  opacity:0.8;
  display:flex;
  flex-direction: column;
  max-height:90%;
  margin: 0 2.5%;
  height: 100vh;
  justify-content: space-between;

}

h3{
  justify-content:flex-start;
  font-size: .9rem;
  font-weight:normal;
}
h1{
  justify-content:flex-start;
  font-size: 1.5rem;
}

p{
  justify-content: flex-end;
  font-style: oblique;
  font-size: .8rem;
  margin-top: auto;
}

button{
  width: 100%;
  height: 1.5rem;
  background: transparent;
  color: white;
  justify-content: flex-end;
  margin-top:auto;
}